player-connection-mode=Listen
player-connection-guid=756683696
player-connection-debug=0
player-connection-project-name=UnityEnvironment
player-connection-ip=192.168.1.35
player-connection-ip=172.29.96.1
gfx-threading-mode=4
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=446680fb24bd453c906e9728c3b2c420
