player-connection-mode=Listen
player-connection-guid=1661257890
player-connection-debug=0
player-connection-project-name=UnityEnvironment
player-connection-ip=192.168.1.35
player-connection-ip=172.29.96.1
gfx-threading-mode=4
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=d3aa7206871e4f8488a992a0e527f678
