player-connection-mode=Listen
player-connection-guid=3139095448
player-connection-debug=0
player-connection-project-name=UnityEnvironment
player-connection-ip=172.29.96.1
player-connection-ip=192.168.1.14
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=f4d9e55de8cb4ee2817d5eb44b0e7d7f
