player-connection-mode=Listen
player-connection-guid=3308763673
player-connection-debug=0
player-connection-project-name=UnityEnvironment
player-connection-ip=192.168.1.35
player-connection-ip=172.29.96.1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=bb36fd55250048c09e92991faad148ce
