player-connection-mode=Listen
player-connection-guid=1778441639
player-connection-debug=0
player-connection-project-name=UnityEnvironment
player-connection-ip=172.29.96.1
player-connection-ip=192.168.1.14
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=755ff9a80c5d4971b140613ba90f9cca
